html,
body {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  margin: 0;
}
ul li,
ol li {
  font-size: 14px;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Ubuntu", sans-serif !important;
  margin: 0;
}
ul,
label {
  margin: 0;
  padding: 0;
}
body a:hover {
  text-decoration: none;
}
#root {
  margin: 0 auto;
}
